[toolchain]
anchor_version = "0.32.0"

[features]
resolution = true
skip-lint = false

[programs.localnet]
payinbox = "14bVLKMUaYx9qL8NPNvhEJS4qtemH8hGZSDyF5qjXS8h"

[programs.devnet]
payinbox = "14bVLKMUaYx9qL8NPNvhEJS4qtemH8hGZSDyF5qjXS8h"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run mocha -t 1000000 tests/"
